@media screen and (min-width: 600px)  {
  .mobile-break { display: none; }
}

html, body {
  font-family: 'Noto Sans TC', sans-serif;
  height: 100%;
  margin: 0;
}

footer {
  font-family: 'Poppins', sans-serif;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.bot-title {
  font-family: 'Poppins', sans-serif;
}